.my-grid{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}
.has-blue-background{
    background-color: #a7ddff;
    border: 1px solid #721ee3;
}

.has-yellow-background{
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}
